In [1]:
import os

directory_list = []
for root, dirs, files in os.walk("/Users/yiran/Desktop/Step-Omics/step count data files", topdown=False):
    for name in dirs:
        directory_list.append(os.path.join(root, name))

import glob
import pandas as pd

step_count_activity=pd.DataFrame()
filenames=pd.DataFrame()
str='/*.xls'
paths=[x+str for x in directory_list]
paths.sort()

In [2]:
for path in paths:
    filenames = glob.glob(path)
    for filename in filenames:
        df=pd.read_excel(filename, sheet_name='Activities')
        df['studyID']=path[54:58]
        step_count_activity=step_count_activity.append(df)
step_count_activity=step_count_activity.set_index('studyID')
step_count_activity

,Date,Calories Burned,Steps,Distance,Floors,Minutes Sedentary,Minutes Lightly Active,Minutes Fairly Active,Minutes Very Active,Activity Calories
studyID,,,,,,,,,,
2001,2015-08-23,"2,150","1,592",0.73,0.0,"1,398",29.0,13.0,0,206
2001,2015-08-24,"2,545","6,059",2.79,0.0,"1,319",89.0,17.0,15,701
2001,2015-08-25,"2,372","3,243",1.50,0.0,"1,325",115.0,0.0,0,517
2001,2015-08-26,"2,643","7,319",3.51,0.0,"1,304",105.0,12.0,19,837
2001,2015-08-27,"2,849","9,289",5.01,0.0,"1,321",63.0,15.0,41,"1,013"
2001,2015-08-28,"2,590","5,031",2.32,0.0,"1,269",155.0,16.0,0,777
2001,2015-08-29,"2,965","9,355",4.32,0.0,"1,137",284.0,19.0,0,"1,388"
2001,2015-08-30,"2,926","9,400",4.55,0.0,"1,212",197.0,12.0,19,"1,235"
2001,2015-08-31,"2,537","5,215",2.39,0.0,"1,281",159.0,0.0,0,753
2001,2015-09-01,"2,444","4,071",1.88,0.0,"1,306",127.0,7.0,0,616
2001,2015-09-02,"2,614","5,273",2.43,0.0,"1,267",173.0,0.0,0,799
2001,2015-09-03,"2,360","3,474",1.60,0.0,"1,330",110.0,0.0,0,512
2001,2015-09-04,"2,802","7,115",3.32,0.0,"1,191",249.0,0.0,0,"1,124"
2001,2015-09-05,"2,629","5,794",2.66,0.0,"1,244",174.0,17.0,5,891
2001,2015-09-06,"2,616","6,060",2.80,0.0,"1,256",163.0,15.0,6,870
2001,2015-09-07,"2,212","2,070",0.97,0.0,"1,375",65.0,0.0,0,305
2001,2015-09-08,"2,100",810,0.39,0.0,"1,414",26.0,0.0,0,119
2001,2015-09-09,"2,420","3,978",1.83,0.0,"1,325",103.0,11.0,1,552
2001,2015-09-10,"2,131",521,0.24,0.0,"1,416",24.0,0.0,0,99
2001,2015-09-11,"2,685","6,583",3.03,0.0,"1,229",201.0,3.0,7,980
2001,2015-09-12,"2,303","2,388",1.10,0.0,"1,360",80.0,0.0,0,362
2001,2015-09-13,"3,183","13,174",6.11,0.0,"1,175",172.0,36.0,57,"1,540"
2001,2015-09-14,"2,316","3,553",1.65,0.0,"1,363",59.0,14.0,4,426
2001,2015-09-15,"2,072",750,0.34,0.0,"1,416",24.0,0.0,0,111
2001,2015-09-16,"2,103",820,0.38,0.0,"1,405",35.0,0.0,0,147
2001,2015-09-17,"2,355","3,026",1.41,0.0,"1,328",112.0,0.0,0,493
2001,2015-09-18,"2,049",308,0.14,0.0,"1,420",20.0,0.0,0,77
2001,2015-09-19,"2,036",480,0.22,0.0,"1,428",12.0,0.0,0,58
2001,2015-09-20,"2,092",904,0.42,0.0,"1,412",28.0,0.0,0,131
2001,2015-09-21,"2,060",758,0.35,0.0,"1,423",17.0,0.0,0,89
...,...,...,...,...,...,...,...,...,...,...
2085,2016-09-13,"2,219","10,869",5.08,0.0,"1,188",205.0,7.0,40,"1,000"
2085,2016-09-14,"2,460","15,886",7.90,0.0,"1,169",174.0,10.0,87,"1,325"
2085,2016-09-15,"2,442","15,359",7.01,0.0,"1,134",224.0,14.0,68,"1,317"
2085,2016-09-16,"2,331","13,363",6.19,0.0,"1,139",240.0,9.0,52,"1,210"
2085,2016-09-17,"2,045","9,529",4.04,0.0,"1,201",209.0,9.0,21,870
2085,2016-09-18,"1,881","6,076",2.60,0.0,"1,216",212.0,9.0,3,703
2085,2016-09-19,"2,409","14,469",6.43,0.0,"1,139",222.0,11.0,68,"1,228"
2085,2016-09-20,"2,574","17,499",7.86,0.0,"1,140",198.0,15.0,87,"1,382"
2085,2016-09-21,"2,274","11,882",5.47,0.0,"1,141",258.0,6.0,35,"1,130"
2085,2016-09-22,"1,809","5,558",2.38,0.0,"1,259",169.0,6.0,6,590
2085,2016-09-23,"1,390",0,0.00,0.0,"1,440",0.0,0.0,0,0
2085,2016-09-24,"1,390",0,0.00,0.0,"1,440",0.0,0.0,0,0
2085,2016-09-25,"1,390",0,0.00,0.0,"1,440",0.0,0.0,0,0
2085,2016-09-26,"1,768","5,690",2.53,0.0,"1,316",124.0,0.0,0,484
2085,2016-09-27,"2,515","16,593",7.70,0.0,"1,120",226.0,15.0,79,"1,408"
2085,2016-09-28,"2,224","12,428",5.57,0.0,"1,152",255.0,11.0,22,"1,109"
2085,2016-09-29,"2,178","9,845",4.51,0.0,"1,190",204.0,14.0,32,936
2085,2016-09-30,"2,029","8,591",3.91,0.0,"1,247",174.0,4.0,15,762
2085,2016-10-01,"2,029","7,381",3.26,0.0,"1,205",210.0,5.0,20,795
2085,2016-10-02,"2,022","9,036",4.14,0.0,"1,243",148.0,6.0,43,810
2085,2016-10-03,"2,030","8,973",4.22,0.0,"1,229",169.0,8.0,34,832
2085,2016-10-04,"2,525","16,287",7.62,0.0,"1,118",249.0,10.0,63,"1,389"
2085,2016-10-05,"2,256","11,974",5.55,0.0,"1,175",226.0,6.0,33,"1,063"
2085,2016-10-06,"2,466","15,280",7.13,0.0,"1,105",263.0,12.0,60,"1,366"
2085,2016-10-07,"2,260","13,504",5.74,0.0,"1,167",217.0,5.0,51,"1,121"
2085,2016-10-08,"2,127","11,517",4.90,0.0,"1,223",134.0,25.0,58,925
2085,2016-10-09,"1,731","4,082",1.74,0.0,"1,279",153.0,4.0,4,493
2085,2016-10-10,"2,286","13,197",6.22,0.0,"1,196",166.0,15.0,63,"1,101"
2085,2016-10-11,"2,195","10,768",5.05,0.0,"1,187",216.0,9.0,28,994
2085,2016-10-12,"2,470","16,361",7.75,0.0,"1,164",187.0,11.0,78,"1,314"

In [3]:
step_count_activity.columns

Index(['Date', 'Calories Burned', 'Steps', 'Distance', 'Floors',
       'Minutes Sedentary', 'Minutes Lightly Active', 'Minutes Fairly Active',
       'Minutes Very Active', 'Activity Calories'],
      dtype='object')

In [4]:
step_count_body=pd.DataFrame()
filenames=pd.DataFrame()
str='/*.xls'
paths=[x+str for x in directory_list]
paths.sort()
for path in paths:
    filenames = glob.glob(path)
    for filename in filenames:
        df=pd.read_excel(filename, sheet_name='Body')
        df['studyID']=path[54:58]
        step_count_body=step_count_body.append(df)
step_count_body=step_count_body.set_index('studyID')
step_count_body

               Date  Weight    BMI  Fat
studyID
2001     2015-08-23  225.00  32.18  0.0
2001     2015-08-24  225.00  32.18  0.0
2001     2015-08-25  225.00  32.18  0.0
2001     2015-08-26  225.00  32.18  0.0
2001     2015-08-27  225.00  32.18  0.0
2001     2015-08-28  225.00  32.18  0.0
2001     2015-08-29  225.00  32.18  0.0
2001     2015-08-30  225.00  32.18  0.0
2001     2015-08-31  225.00  32.18  0.0
2001     2015-09-01  225.00  32.18  0.0
2001     2015-09-02  225.00  32.18  0.0
2001     2015-09-03  225.00  32.18  0.0
2001     2015-09-04  225.00  32.18  0.0
2001     2015-09-05  225.00  32.18  0.0
2001     2015-09-06  225.00  32.18  0.0
2001     2015-09-07  225.00  32.18  0.0
2001     2015-09-08  225.00  32.18  0.0
2001     2015-09-09  225.00  32.18  0.0
2001     2015-09-10  225.00  32.18  0.0
2001     2015-09-11  225.00  32.18  0.0
2001     2015-09-12  225.00  32.18  0.0
2001     2015-09-13  225.00  32.18  0.0
2001     2015-09-14  225.00  32.18  0.0
2001     2015-09-15  225.00  32.18  0.0
2001     2015-09-16  225.00  32.18  0.0
2001     2015-09-17  225.00  32.18  0.0
2001     2015-09-18  225.00  32.18  0.0
2001     2015-09-19  225.00  32.18  0.0
2001     2015-09-20  225.00  32.18  0.0
2001     2015-09-21  225.00  32.18  0.0
...             ...     ...    ...  ...
2085     2016-09-13  146.12  24.32  0.0
2085     2016-09-14  146.05  24.30  0.0
2085     2016-09-15  145.97  24.29  0.0
2085     2016-09-16  145.90  24.28  0.0
2085     2016-09-17  145.67  24.24  0.0
2085     2016-09-18  145.45  24.20  0.0
2085     2016-09-19  145.22  24.17  0.0
2085     2016-09-20  145.00  24.13  0.0
2085     2016-09-21  145.11  24.15  0.0
2085     2016-09-22  145.22  24.17  0.0
2085     2016-09-23  145.34  24.19  0.0
2085     2016-09-24  145.45  24.21  0.0
2085     2016-09-25  145.57  24.22  0.0
2085     2016-09-26  145.68  24.24  0.0
2085     2016-09-27  145.80  24.26  0.0
2085     2016-09-28  145.91  24.28  0.0
2085     2016-09-29  146.03  24.30  0.0
2085     2016-09-30  146.14  24.32  0.0
2085     2016-10-01  146.26  24.34  0.0
2085     2016-10-02  146.37  24.36  0.0
2085     2016-10-03  146.50  24.38  0.0
2085     2016-10-04  145.95  24.29  0.0
2085     2016-10-05  145.40  24.20  0.0
2085     2016-10-06  145.47  24.21  0.0
2085     2016-10-07  145.55  24.22  0.0
2085     2016-10-08  145.62  24.23  0.0
2085     2016-10-09  145.70  24.25  0.0
2085     2016-10-10  145.77  24.26  0.0
2085     2016-10-11  145.85  24.27  0.0
2085     2016-10-12  145.92  24.28  0.0

[21475 rows x 4 columns]

In [5]:
step_count_body.columns

Index(['Date', 'Weight', 'BMI', 'Fat'], dtype='object')

In [6]:
step_count_activityselect=step_count_activity[['Steps']].copy()
step_count_bodyselect=step_count_body[['Date','Weight','BMI']].copy()
step_count=pd.concat([step_count_activityselect, step_count_bodyselect], axis=1, sort=False)
step_count

          Steps        Date  Weight    BMI
studyID
2001      1,592  2015-08-23  225.00  32.18
2001      6,059  2015-08-24  225.00  32.18
2001      3,243  2015-08-25  225.00  32.18
2001      7,319  2015-08-26  225.00  32.18
2001      9,289  2015-08-27  225.00  32.18
2001      5,031  2015-08-28  225.00  32.18
2001      9,355  2015-08-29  225.00  32.18
2001      9,400  2015-08-30  225.00  32.18
2001      5,215  2015-08-31  225.00  32.18
2001      4,071  2015-09-01  225.00  32.18
2001      5,273  2015-09-02  225.00  32.18
2001      3,474  2015-09-03  225.00  32.18
2001      7,115  2015-09-04  225.00  32.18
2001      5,794  2015-09-05  225.00  32.18
2001      6,060  2015-09-06  225.00  32.18
2001      2,070  2015-09-07  225.00  32.18
2001        810  2015-09-08  225.00  32.18
2001      3,978  2015-09-09  225.00  32.18
2001        521  2015-09-10  225.00  32.18
2001      6,583  2015-09-11  225.00  32.18
2001      2,388  2015-09-12  225.00  32.18
2001     13,174  2015-09-13  225.00  32.18
2001      3,553  2015-09-14  225.00  32.18
2001        750  2015-09-15  225.00  32.18
2001        820  2015-09-16  225.00  32.18
2001      3,026  2015-09-17  225.00  32.18
2001        308  2015-09-18  225.00  32.18
2001        480  2015-09-19  225.00  32.18
2001        904  2015-09-20  225.00  32.18
2001        758  2015-09-21  225.00  32.18
...         ...         ...     ...    ...
2085     10,869  2016-09-13  146.12  24.32
2085     15,886  2016-09-14  146.05  24.30
2085     15,359  2016-09-15  145.97  24.29
2085     13,363  2016-09-16  145.90  24.28
2085      9,529  2016-09-17  145.67  24.24
2085      6,076  2016-09-18  145.45  24.20
2085     14,469  2016-09-19  145.22  24.17
2085     17,499  2016-09-20  145.00  24.13
2085     11,882  2016-09-21  145.11  24.15
2085      5,558  2016-09-22  145.22  24.17
2085          0  2016-09-23  145.34  24.19
2085          0  2016-09-24  145.45  24.21
2085          0  2016-09-25  145.57  24.22
2085      5,690  2016-09-26  145.68  24.24
2085     16,593  2016-09-27  145.80  24.26
2085     12,428  2016-09-28  145.91  24.28
2085      9,845  2016-09-29  146.03  24.30
2085      8,591  2016-09-30  146.14  24.32
2085      7,381  2016-10-01  146.26  24.34
2085      9,036  2016-10-02  146.37  24.36
2085      8,973  2016-10-03  146.50  24.38
2085     16,287  2016-10-04  145.95  24.29
2085     11,974  2016-10-05  145.40  24.20
2085     15,280  2016-10-06  145.47  24.21
2085     13,504  2016-10-07  145.55  24.22
2085     11,517  2016-10-08  145.62  24.23
2085      4,082  2016-10-09  145.70  24.25
2085     13,197  2016-10-10  145.77  24.26
2085     10,768  2016-10-11  145.85  24.27
2085     16,361  2016-10-12  145.92  24.28

[21475 rows x 4 columns]

In [8]:
#Imports Gene Expression data (counts file)
counts=pd.read_excel('counts.xlsx',delimiter='\t',encoding='utf-8')
#Transposes rows into columns to make "studyID" as the dataframe index
gene_counts = counts.transpose()
gene_counts['studyID'] = list(counts)
gene_counts_df = gene_counts.set_index("studyID")
gene_counts_df

,N_unmapped,N_multimapping,N_noFeature,N_ambiguous,ENSG00000223972.5,ENSG00000227232.5,ENSG00000278267.1,ENSG00000243485.5,ENSG00000284332.1,ENSG00000237613.2,...,ENSG00000198886.2,ENSG00000210176.1,ENSG00000210184.1,ENSG00000210191.1,ENSG00000198786.2,ENSG00000198695.2,ENSG00000210194.1,ENSG00000198727.2,ENSG00000210195.2,ENSG00000210196.2
studyID,,,,,,,,,,,,,,,,,,,,,
2001-01-01,95042,331030,738005,41938,0,0,0,0,0,0,...,1557,0,4,1,225,249,8,927,0,25
2001-02-01,68220,334819,867184,45447,0,0,0,0,0,0,...,1538,0,1,3,276,156,7,1153,4,17
2001-03-01,61019,380826,626817,40987,0,0,0,0,0,0,...,1258,3,0,2,173,83,4,698,1,18
2002-01-01,70551,364487,808822,37888,0,0,0,0,0,0,...,702,1,1,0,122,68,2,456,2,19
2002-02-01,46086,212680,492655,26394,0,0,0,0,0,0,...,527,0,0,2,99,44,0,312,0,10
2002-03-01,76071,348791,993259,39314,0,0,0,0,0,0,...,668,7,5,11,165,27,4,437,2,16
2003-01-01,70553,587703,877164,52574,0,0,0,0,0,0,...,1300,4,3,10,320,180,3,824,9,24
2003-02-01,78081,637444,785730,35956,0,0,0,0,0,0,...,1788,5,5,7,338,171,9,1193,1,24
2003-03-01,62580,259543,490331,31024,0,0,0,0,0,0,...,1528,1,0,3,217,227,16,886,0,22
2004-01-01,55659,313890,1396183,17858,1,0,0,0,0,0,...,581,0,0,1,67,37,2,327,0,7
2004-02-01,71781,404364,543252,35739,0,0,0,0,0,0,...,1925,1,4,1,234,118,3,949,0,23
2004-03-01,83805,496892,705882,40258,0,0,0,0,0,0,...,1751,1,3,1,300,207,12,809,0,18
2006-01-01,75613,542751,1159741,49532,0,0,0,0,0,0,...,1960,1,2,5,375,182,3,1556,0,24
2006-02-01,39715,295346,481029,23861,0,0,0,0,0,0,...,838,2,0,2,143,69,0,618,3,11
2006-03-01,63197,336954,597701,37757,0,0,0,0,0,0,...,1587,0,1,6,247,124,4,1090,5,25
2008-01-01,84108,441981,686144,30637,0,0,0,0,0,0,...,1864,2,0,1,332,139,10,1167,7,12
2008-02-01,72236,577276,939594,41738,0,0,0,0,0,0,...,1512,1,0,2,297,139,12,1173,3,13
2008-03-01,73898,338365,809936,39346,0,0,0,0,0,0,...,1359,4,1,5,253,162,11,978,4,8
2010-01-01,78893,388619,878301,36883,0,0,0,0,0,0,...,1577,2,1,2,281,109,8,1050,3,12
2010-02-01,81353,523765,870679,30288,0,0,0,0,0,0,...,1504,0,1,5,275,93,3,1108,9,14
2010-03-01,34327,158942,357570,17082,0,0,0,0,0,0,...,814,0,1,0,124,74,5,463,2,3
2012-01-01,85924,407066,906792,47863,0,0,0,0,0,0,...,1391,9,0,0,299,141,3,1133,0,20
2012-02-01,64502,386682,870457,38537,0,0,0,0,0,0,...,1036,8,4,2,294,76,6,843,9,19
2012-03-01,51906,323019,707846,34574,0,0,0,0,0,0,...,1449,2,1,11,288,45,0,1121,2,17
2013-01-01,83739,464837,702861,58137,0,0,0,0,0,0,...,1238,4,4,8,305,289,4,971,6,36
2013-02-01,60918,304905,712120,20834,0,0,0,0,0,0,...,674,0,11,6,141,75,1,509,8,16
2013-03-01,85394,461595,740990,44996,0,0,0,0,0,0,...,1640,1,2,9,277,338,9,1200,6,41
2014-01-01,94358,496988,2433145,32730,0,0,0,0,0,0,...,587,0,2,1,108,171,8,315,0,17
2014-02-01,47292,284311,633871,24592,0,0,0,0,0,0,...,741,1,3,3,180,238,4,430,0,17
2014-03-01,91299,533359,1231378,47234,0,0,0,0,0,0,...,1943,0,1,4,254,389,13,1356,3,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2072-01-01,90840,565725,1858915,31137,0,0,0,0,0,0,...,964,0,0,3,197,154,7,711,1,9
2072-02-01,78531,466309,918193,41956,0,3,0,0,0,0,...,1243,3,0,1,280,59,2,994,1,21
2072-03-01,74074,419379,746597,42358,0,0,0,0,0,0,...,1372,3,0,5,245,136,5,1036,5,16
2074-01-01,64172,490849,533143,28997,0,0,0,0,0,0,...,943,1,0,13,243,181,13,737,6,43
2074-02-01,74100,543243,909719,34900,0,0,0,0,0,0,...,1211,0,1,10,278,186,7,803,5,39
2074-03-01,74042,714298,968002,39036,0,0,0,0,0,0,...,936,2,0,7,218,153,14,770,5,27
2075-01-01,103528,532458,1226229,54597,0,0,0,0,0,0,...,1348,1,3,5,207,111,5,1198,8,37
2075-02-01,79891,530044,766901,35746,0,1,0,0,0,0,...,786,3,0,2,156,98,7,694,0,27
2075-03-01,62478,499344,1053978,28457,0,0,0,0,0,0,...,734,2,1,4,101,48,2,579,2,37
2078-01-01,68380,402466,1235231,36829,0,0,0,0,0,0,...,1181,0,0,2,226,42,1,713,2,3
2078-02-01,89172,688705,1362687,56178,0,0,0,0,0,0,...,2196,2,3,8,362,155,5,1402,8,45
2078-03-01,94801,505957,1119125,45878,0,2,0,0,0,0,...,1734,1,2,4,264,110,3,1244,1,24
2080-01-01,86649,445156,909391,43879,0,0,0,0,0,0,...,2270,7,5,13,456,197,10,1635,5,64
2080-02-01,53107,327906,669351,25495,0,1,0,0,0,0,...,1022,2,1,6,171,63,4,763,3,34
2080-03-01,90691,431474,802853,43529,0,0,0,0,0,0,...,2033,2,4,13,372,161,12,1431,3,50
2081-01-01,93271,497168,1001907,41445,0,0,0,0,0,0,...,1469,0,2,1,342,284,16,958,13,29
2081-02-01,104412,534761,1440777,46523,0,0,0,0,0,0,...,1674,0,0,2,383,369,13,1108,5,31
2081-03-01,93117,622165,1378656,44562,0,0,0,0,0,0,...,1922,0,4,12,464,276,10,1182,7,49
2082-01-01,68664,510817,1188612,48061,0,1,0,0,0,0,...,1198,1,1,1,209,127,9,992,1,13
2082-02-01,89892,351552,836140,32036,0,0,0,0,0,0,...,625,2,4,5,180,62,3,610,5,21
2082-03-01,83261,508763,1085729,49726,0,0,0,0,0,0,...,1537,0,0,5,261,76,2,1318,1,6
2083-01-01,90302,592186,953655,44232,0,0,0,0,0,0,...,1107,0,4,1,230,123,1,924,5,11
2083-02-01,125048,707741,1416621,41364,0,0,0,0,0,0,...,898,4,1,7,307,73,3,855,2,38
2083-03-01,68434,409750,664264,34650,0,0,0,0,0,0,...,1254,0,3,1,195,91,1,910,0,18
2084-01-01,76911,660545,928151,36592,0,0,0,0,0,0,...,1354,1,0,6,153,94,3,912,3,29
2084-02-01,89960,878795,1338392,50063,0,0,0,0,0,0,...,1821,2,0,2,265,164,4,1269,8,15
2084-03-01,78068,559799,1059115,40499,0,0,0,0,0,0,...,1588,2,0,4,297,146,1,1119,1,14
2085-01-01,95025,655607,882235,40354,0,0,0,0,0,0,...,1571,2,3,6,296,127,3,875,15,27
2085-02-01,71675,739056,963296,42764,0,0,0,0,0,0,...,1058,3,6,11,236,100,4,774,8,25
2085-03-01,110694,849236,1614960,31324,0,0,0,0,0,0,...,918,3,3,5,191,132,5,676,13,30

In [9]:
anthropometrics=pd.read_csv('F&T anthropometrics.csv')
anthropometrics['CorrectedDate'] =  pd.to_datetime(anthropometrics['CorrectedDate'], format='%d-%b-%y',errors='ignore')
anthropometrics['CorrectedRVDate']=pd.to_datetime(anthropometrics['CorrectedRVDate'], format='%d-%b-%y',errors='ignore')
anthropometrics=anthropometrics.drop(columns=['Date','RVDate','RVNotes'],axis=1)
anthropometrics=anthropometrics.set_index('studyID')
anthropometrics

,CorrectedDate,Randomization,StudyGroup,raid,StudyVisit,SystolicR1,DiastolicR1,SystolicL1,DiastolicL1,SystolicR2,...,WaistCm2,HipCm1,HipCm2,RANotes,CorrectedRVDate,RVMissedItems,HeightCm,MeanWtKg,bmi,MeanWaistCm
studyID,,,,,,,,,,,,,,,,,,,,,
2001,2014-11-17,Yes,Blue,2. 23 Shannon Muramoto,Baseline Visit (Week 0),137.0,78.0,146.0,92.0,132.0,...,114.4,115.9,116.0,no strips,2014-12-01,Yes,176.4,115.0,36.957338,114.35
2001,2015-03-03,Yes,Blue,2. 23 Shannon Muramoto,3 Month,137.0,67.0,127.0,71.0,127.0,...,101.3,119.0,119.0,NaN,2014-12-01,Yes,176.4,102.5,32.940236,101.40
2001,2015-06-02,Yes,Blue,9. 40 Raymond Ma,6 Month,121.0,58.0,133.0,66.0,122.0,...,105.8,108.3,108.4,NaN,2014-12-01,Yes,176.4,103.7,33.325878,105.90
2003,2014-11-22,Yes,Blue,2. 23 Shannon Muramoto,Baseline Visit (Week 0),113.0,86.0,121.0,93.0,107.0,...,125.2,131.4,131.5,no strips,2014-12-09,Yes,162.2,113.9,43.293433,125.20
2003,2015-03-30,Yes,Blue,2. 23 Shannon Muramoto,3 Month,108.0,72.0,116.0,81.0,96.0,...,121.5,132.6,132.6,NaN,2014-12-09,Yes,162.2,115.3,43.825573,121.60
2003,2015-07-22,Yes,Blue,9. 40 Raymond Ma,6 Month,107.0,78.0,117.0,90.0,113.0,...,127.8,135.0,135.0,NaN,2014-12-09,Yes,162.2,114.7,43.597513,127.80
2007,2015-01-07,Yes,Blue,2. 23 Shannon Muramoto,Baseline Visit (Week 0),115.0,68.0,114.0,68.0,99.0,...,85.1,99.8,99.8,no strips,2015-01-22,Yes,166.5,72.9,26.296567,85.15
2007,NaT,Yes,Blue,NaN,3 Month,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Withdrew from intervention and study; missed MO3,2015-01-22,Yes,166.5,NaN,NaN,NaN
2007,2015-06-09,Yes,Blue,2. 23 Shannon Muramoto,6 Month,118.0,68.0,110.0,65.0,92.0,...,83.3,101.5,101.3,Used values from MO5 for exit visit,2015-01-22,Yes,166.5,71.2,25.683341,83.35
2008,2015-01-20,Yes,Blue,2. 23 Shannon Muramoto,Baseline Visit (Week 0),128.0,88.0,136.0,88.0,116.0,...,91.8,99.4,99.3,no strips,2015-02-04,Yes,148.6,64.5,29.209364,91.80
2008,2015-05-06,Yes,Blue,2. 23 Shannon Muramoto,3 Month,130.0,74.0,122.0,78.0,126.0,...,84.0,91.7,91.6,NaN,2015-02-04,Yes,148.6,58.0,26.265784,84.00
2008,2015-08-04,Yes,Blue,9. 40 Raymond Ma,6 Month,131.0,79.0,128.0,84.0,125.0,...,80.3,87.5,87.3,NaN,2015-02-04,Yes,148.6,53.4,24.182636,80.30
2009,2015-01-10,Yes,Blue,2. 23 Shannon Muramoto,Baseline Visit (Week 0),129.0,93.0,125.0,94.0,136.0,...,93.3,100.0,100.0,no strips,2015-02-05,Yes,163.4,72.8,27.266367,93.35
2009,NaT,Yes,Blue,NaN,3 Month,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Withdrew from intervention and study,2015-02-05,Yes,163.4,NaN,NaN,NaN
2009,NaT,Yes,Blue,NaN,6 Month,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Withdrew from intervention and study,2015-02-05,Yes,163.4,NaN,NaN,NaN
2014,2015-02-14,Yes,Blue,2. 23 Shannon Muramoto,Baseline Visit (Week 0),132.0,71.0,132.0,70.0,125.0,...,93.5,97.5,97.4,Machine error (glucometer),2015-04-22,Yes,164.7,74.5,27.464334,93.50
2014,2015-07-25,Yes,Blue,9. 40 Raymond Ma,3 Month,114.0,67.0,123.0,71.0,112.0,...,80.0,89.0,89.0,NaN,2015-04-22,Yes,164.7,63.8,23.519792,80.00
2014,2015-10-12,Yes,Blue,9. 40 Raymond Ma,6 Month,131.0,73.0,134.0,72.0,113.0,...,76.5,86.0,86.0,NaN,2015-04-22,Yes,164.7,60.0,22.118927,76.50
2017,2015-03-30,Yes,Blue,2. 23 Shannon Muramoto,Baseline Visit (Week 0),133.0,99.0,132.0,90.0,128.0,...,95.7,104.2,104.0,NaN,2015-04-16,Yes,178.3,90.5,28.467275,95.75
2017,2015-07-21,Yes,Blue,9. 40 Raymond Ma,3 Month,125.0,59.0,116.0,78.0,122.0,...,93.0,101.3,101.3,NaN,2015-04-16,Yes,178.3,87.2,27.429242,93.00
2017,2015-10-22,Yes,Blue,9. 40 Raymond Ma,6 Month,131.0,75.0,131.0,73.0,123.0,...,86.0,96.0,96.0,NaN,2015-04-16,Yes,178.3,83.1,26.139564,86.00
2020,2015-04-03,Yes,Blue,2. 23 Shannon Muramoto,Baseline Visit (Week 0),139.0,91.0,136.0,89.0,143.0,...,99.8,102.3,102.3,NaN,2015-04-30,Yes,170.0,94.1,32.560554,99.80
2020,2015-07-30,Yes,Blue,9. 40 Raymond Ma,3 Month,130.0,82.0,140.0,85.0,130.0,...,95.5,104.0,104.0,NaN,2015-04-30,Yes,170.0,92.5,32.006920,95.55
2020,2015-11-04,Yes,Blue,9. 40 Raymond Ma,6 Month,123.0,80.0,120.0,73.0,120.0,...,95.0,100.0,100.0,NaN,2015-04-30,Yes,170.0,89.2,30.865052,95.00
2021,2015-04-08,Yes,Blue,2. 23 Shannon Muramoto,Baseline Visit (Week 0),131.0,71.0,128.0,66.0,130.0,...,84.5,101.1,101.2,NaN,2015-05-06,Yes,144.5,58.8,28.160582,84.50
2021,2015-08-03,Yes,Blue,9. 40 Raymond Ma,3 Month,122.0,62.0,125.0,68.0,110.0,...,85.0,100.0,100.0,NaN,2015-05-06,Yes,144.5,58.0,27.777445,85.00
2021,2015-11-09,Yes,Blue,9. 40 Raymond Ma,6 Month,147.0,64.0,123.0,64.0,131.0,...,81.5,100.0,100.0,NaN,2015-05-06,Yes,144.5,57.4,27.490092,81.50
2024,2015-04-14,Yes,Blue,2. 23 Shannon Muramoto,Baseline Visit (Week 0),113.0,57.0,102.0,55.0,97.0,...,88.5,102.9,102.9,NaN,2015-04-28,Yes,161.9,73.6,28.079160,88.60
2024,2015-08-25,Yes,Blue,9. 40 Raymond Ma,3 Month,101.0,69.0,96.0,69.0,93.0,...,92.1,97.5,97.6,NaN,2015-04-28,Yes,161.9,66.0,25.179682,92.05
2024,2015-11-03,Yes,Blue,9. 40 Raymond Ma,6 Month,97.0,56.0,92.0,50.0,93.0,...,90.5,98.7,98.7,NaN,2015-04-28,Yes,161.9,66.7,25.446739,90.40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2059,2015-08-10,Yes,Red,9. 40 Raymond Ma,Baseline Visit (Week 0),125.0,72.0,118.0,68.0,121.0,...,99.0,95.0,95.0,NaN,2015-09-22,Yes,161.1,77.6,29.899962,99.00
2059,2016-01-28,Yes,Red,9. 40 Raymond Ma,3 Month,118.0,65.0,121.0,60.0,118.0,...,96.5,91.0,91.0,NaN,2015-09-22,Yes,161.1,75.4,29.052283,96.50
2059,2016-05-10,Yes,Red,9. 40 Raymond Ma,6 Month,110.0,56.0,114.0,55.0,105.0,...,92.0,91.0,91.0,NaN,2015-09-22,Yes,161.1,73.3,28.243134,92.00
2060,2015-08-11,Yes,Red,9. 40 Raymond Ma,Baseline Visit (Week 0),142.0,80.0,131.0,77.0,139.0,...,84.9,91.0,91.0,NaN,2015-09-03,Yes,166.0,68.3,24.785891,84.90
2060,2015-12-10,Yes,Red,9. 40 Raymond Ma,3 Month,132.0,69.0,125.0,69.0,136.0,...,84.5,91.0,91.0,NaN,2015-09-03,Yes,166.0,68.1,24.713311,84.50
2060,2016-03-02,Yes,Red,7. 37 Claire Pham,6 Month,135.0,81.0,139.0,88.0,133.0,...,83.7,89.6,89.8,NaN,2015-09-03,Yes,166.0,66.2,24.023806,83.75
2066,2015-10-02,Yes,Red,9. 40 Raymond Ma,Baseline Visit (Week 0),156.0,78.0,134.0,75.0,136.0,...,100.7,103.4,103.4,NaN,2015-10-26,Yes,161.6,72.6,27.800583,100.70
2066,2016-02-08,Yes,Red,9. 40 Raymond Ma,3 Month,149.0,77.0,139.0,79.0,132.0,...,100.5,104.5,104.5,Withdrew from intervention; missed MO5,2015-10-26,Yes,161.6,71.1,27.226191,100.50
2066,2016-07-07,Yes,Red,40,6 Month,141.0,61.0,136.0,79.0,127.0,...,93.5,101.5,101.5,Completed exit visit,2015-10-26,Yes,161.6,71.8,27.494241,93.50
2070,2015-11-04,Yes,Red,7. 37 Claire Pham,Baseline Visit (Week 0),114.0,75.0,126.0,86.0,119.0,...,103.4,110.5,110.5,"glucometer was in another office, RA had no ac...",2015-12-04,Yes,167.2,88.2,31.549758,103.40
2070,2016-02-29,Yes,Red,7. 37 Claire Pham,3 Month,122.0,83.0,129.0,82.0,123.0,...,102.3,109.8,109.9,NaN,2015-12-04,Yes,167.2,87.7,31.370905,102.25
2070,2016-06-24,Yes,Red,40,6 Month,118.0,72.0,124.0,81.0,112.0,...,88.5,107.5,107.5,NaN,2015-12-04,Yes,167.2,87.3,31.227822,88.50
2071,2015-11-10,Yes,Red,9. 40 Raymond Ma,Baseline Visit (Week 0),159.0,83.0,153.0,91.0,133.0,...,108.5,109.0,109.0,NaN,2015-12-09,Yes,175.8,101.9,32.971328,108.50
2071,2016-03-23,Yes,Red,9. 40 Raymond Ma,3 Month,138.0,80.0,145.0,88.0,135.0,...,106.3,106.0,106.0,NaN,2015-12-09,Yes,175.8,101.8,32.938972,106.30
2071,2016-06-21,Yes,Red,40,6 Month,127.0,77.0,127.0,77.0,129.0,...,105.0,106.5,106.5,NaN,2015-12-09,Yes,175.8,101.5,32.841902,105.00
2078,2015-12-01,Yes,Red,9. 40 Raymond Ma,Baseline Visit (Week 0),130.0,72.0,123.0,71.0,126.0,...,91.0,101.0,101.0,NaN,2015-12-21,Yes,155.9,64.8,26.661389,91.00
2078,2016-03-21,Yes,Red,9. 40 Raymond Ma,3 Month,116.0,68.0,125.0,66.0,113.0,...,85.5,101.5,101.5,NaN,2015-12-21,Yes,155.9,66.1,27.196263,85.50
2078,2016-06-23,Yes,Red,40,6 Month,128.0,67.0,113.0,69.0,120.0,...,83.0,98.0,98.0,NaN,2015-12-21,Yes,155.9,61.9,25.468210,83.00
2080,2015-12-09,Yes,Red,7. 37 Claire Pham,Baseline Visit (Week 0),135.0,87.0,125.0,86.0,126.0,...,104.5,109.0,109.0,NaN,2016-01-07,Yes,156.6,78.3,31.928480,104.50
2080,2016-04-07,Yes,Red,9. 40 Raymond Ma,3 Month,132.0,82.0,139.0,82.0,138.0,...,101.0,103.0,103.0,NaN,2016-01-07,Yes,156.6,76.4,31.153715,101.00
2080,2016-07-07,Yes,Red,40,6 Month,152.0,86.0,130.0,74.0,137.0,...,100.0,101.3,101.3,NaN,2016-01-07,Yes,156.6,76.5,31.194492,99.95
2081,2015-12-10,Yes,Red,9. 40 Raymond Ma,Baseline Visit (Week 0),143.0,98.0,134.0,97.0,138.0,...,96.3,101.5,101.5,NaN,2016-01-05,Yes,168.3,85.8,30.291380,96.30
2081,2016-04-05,Yes,Red,9. 40 Raymond Ma,3 Month,141.0,91.0,136.0,101.0,131.0,...,95.6,103.0,103.0,NaN,2016-01-05,Yes,168.3,87.4,30.856254,95.60
2081,2016-07-05,Yes,Red,40,6 Month,125.0,83.0,128.0,85.0,127.0,...,90.3,101.5,101.5,NaN,2016-01-05,Yes,168.3,84.9,29.973638,90.30
2083,2015-12-22,Yes,Red,7. 37 Claire Pham,Baseline Visit (Week 0),122.0,77.0,123.0,77.0,128.0,...,107.3,106.9,106.9,no strips,2016-01-21,Yes,161.2,78.4,30.170742,107.30
2083,2016-04-26,Yes,Red,9. 40 Raymond Ma,3 Month,120.0,74.0,124.0,80.0,124.0,...,102.5,99.0,99.0,NaN,2016-01-21,Yes,161.2,80.9,31.132819,102.50
2083,2016-07-22,Yes,Red,40,6 Month,118.0,73.0,116.0,74.0,123.0,...,100.0,94.5,94.5,NaN,2016-01-21,Yes,161.2,73.0,28.092655,100.00
2085,2016-01-08,Yes,Red,9. 40 Raymond Ma,Baseline Visit (Week 0),129.0,80.0,123.0,87.0,129.0,...,93.5,103.0,103.0,no strips,2016-01-29,Yes,155.2,71.4,29.642497,93.50
2085,2016-04-08,Yes,Red,9. 40 Raymond Ma,3 Month,124.0,72.0,110.0,78.0,125.0,...,97.0,104.0,104.0,NaN,2016-01-29,Yes,155.2,71.6,29.725529,97.00
2085,2016-07-29,Yes,Red,40,6 Month,118.0,72.0,114.0,77.0,112.0,...,81.5,99.5,99.5,NaN,2016-01-29,Yes,155.2,65.7,27.276079,81.50

In [10]:
labs=pd.read_excel('F&T labs.xlsx')
labs['BFastDate']=pd.to_datetime(labs['BFastDate'], format='%d-%b-%y',errors='ignore')
labs['MO3FastDate']=pd.to_datetime(labs['MO3FastDate'], format='%d-%b-%y',errors='ignore')
labs['MO6FastDate']=pd.to_datetime(labs['MO6FastDate'], format='%d-%b-%y',errors='ignore')

labs=labs.drop(columns=['MO6Validity'],axis=1)
labs=labs.set_index('studyID')
labs

,Brae,StudyGroup,Bldstatus1,Randomization,BDM,Age,Gender,BFastDate,BValidity,BNotes,...,MO6HDL,MO6Tri,MO6LDL,MO6choHD,MO6LDLRatio,M6CRFemale,M6CRMale,MO6MeanGlu,MO6Insulin,MO6Notes
studyID,,,,,,,,,,,,,,,,,,,,,
2001,25,1,1,1,0,28,0,2014-11-25 00:00:00,1,None,...,46,78,133,4.2,2.9,9,2,9999,6.9,Mean plasma glucose missing
2002,23,2,1,1,0,38,1,2014-12-06 00:00:00,0,"Insulin time 1, 2, and 4 missing due to hemolysis",...,45,155,164,5.3,3.6,2,9,9999,6.5,NaN
2003,25,1,1,1,0,26,1,2014-11-29 00:00:00,1,None,...,31,106,136,6.1,4.4,3,9,9999,20.5,NaN
2004,23,2,1,1,0,60,0,2014-12-05 00:00:00,0,"Insulin time 2, 4 and 5 missing due to hemolysis",...,92,63,154,2.8,1.7,9,1,9999,3.2,NaN
2005,23,2,1,1,0,34,0,2014-12-18 00:00:00,0,Insulin time 4 missing due to hemolysis,...,9999,9999,9999,9999.0,9999.0,9999,9999,9999,9999.0,Withdrew from intervention
2006,23,2,1,1,0,48,1,2014-12-19 00:00:00,1,None,...,92,94,122,2.5,1.3,1,9,9999,20.3,NaN
2007,43,1,1,1,0,27,1,2015-01-15 00:00:00,0,OGTT 1 hour and Insulin missing test not perfo...,...,9999,9999,9999,9999.0,9999.0,9999,9999,9999,9999.0,Withdrew from intervention and study
2008,43,1,1,1,0,46,1,2015-01-29 00:00:00,1,None,...,85,40,129,2.6,1.5,1,9,9999,5.1,NaN
2009,43,1,1,1,0,38,1,2015-01-17 00:00:00,1,None,...,9999,9999,9999,9999.0,9999.0,9999,9999,9999,9999.0,Withdrew from intervention and study
2010,43,2,1,1,0,25,1,2015-01-16 00:00:00,1,None,...,52,56,105,3.2,2.0,1,9,9999,5.7,NaN
2011,37,0,1,0,0,26,1,2015-02-19 00:00:00,1,None,...,9999,9999,9999,9999.0,9999.0,9999,9999,9999,9999.0,Dropped out
2012,37,2,1,1,0,29,0,2015-02-14 00:00:00,0,Insulin time 4 missing due to hemolysis,...,87,98,141,2.9,1.6,9,1,9999,9999.0,Test not performed. specimen unsuitbale for te...
2013,37,2,1,1,0,68,1,2015-02-04 00:00:00,0,"Insulin time 1, 2, 3, 4, and 5 and total chole...",...,84,112,132,2.8,1.6,1,9,9999,5.2,NaN
2014,37,1,1,1,0,47,0,2015-02-28 00:00:00,0,Insulin time 5 missing due to hemolysis,...,63,54,73,2.3,1.2,9,1,9999,2.9,NaN
2015,37,0,0,0,9999,42,1,#NULL!,0,Not qualified due to high BP reading at SB visit,...,9999,9999,9999,9999.0,9999.0,9999,9999,9999,9999.0,Not qualified due to high BP reading at SB visit
2016,37,0,1,0,1,33,1,2015-04-01 00:00:00,1,Not qualified due to having diabetes,...,9999,9999,9999,9999.0,9999.0,9999,9999,9999,9999.0,Not qualified due to having diabetes
2017,37,1,1,1,0,43,0,2015-04-10 00:00:00,1,"Age on the lab report is incorrect, corrected ...",...,49,90,109,3.6,2.2,9,1,9999,5.2,NaN
2018,37,0,0,0,9999,27,1,#NULL!,0,Dropped out,...,9999,9999,9999,9999.0,9999.0,9999,9999,9999,9999.0,Dropped out
2019,37,0,0,0,9999,49,0,#NULL!,0,Not qualified due to high BP reading at SB visit,...,9999,9999,9999,9999.0,9999.0,9999,9999,9999,9999.0,Not qualified due to high BP reading at SB visit
2020,37,1,1,1,0,39,0,2015-04-15 00:00:00,1,None,...,33,140,123,5.6,3.7,9,2,9999,3.8,NaN
2021,37,1,1,1,0,61,1,2015-04-29 00:00:00,0,Insulin time 1 missing due to hemolysis,...,33,182,127,5.9,3.8,2,9,9999,7.1,NaN
2022,37,2,1,1,0,38,1,2015-04-16 00:00:00,1,None,...,57,63,112,3.2,2.0,1,9,9999,5.6,NaN
2023,37,2,1,1,0,26,1,2015-05-01 00:00:00,1,None,...,58,73,86,2.7,1.5,1,9,9999,7.9,NaN
2024,37,1,1,1,0,31,1,2015-04-23 00:00:00,0,"Insulin time 1, 2, 3, 4, and 5 missing due to ...",...,69,62,41,1.8,0.6,1,9,9999,5.4,"there are 2 labs, 1 fasting and 1 non-fasting...."
2025,37,2,1,1,0,41,0,2015-04-21 00:00:00,1,None,...,39,65,97,3.8,2.5,9,2,9999,12.4,NaN
2026,37,2,1,1,0,45,0,2015-04-28 00:00:00,1,None,...,55,60,108,3.2,2.0,9,1,9999,3.0,NaN
2027,37,2,1,1,0,27,1,2015-05-27 00:00:00,1,0,...,54,118,175,4.7,3.2,2,9,9999,5.1,NaN
2028,37,1,1,1,0,29,0,2015-05-07 00:00:00,1,None,...,37,336,144,6.7,3.9,9,2,9999,16.9,NaN
2029,37,1,1,1,0,65,0,2015-05-05 00:00:00,0,Insulin time 4 missing due to hemolysis,...,73,85,150,3.3,2.1,9,1,9999,1.4,NaN
2030,37,0,1,0,1,46,0,2015-05-06 00:00:00,1,Not qualified due to having diabetes,...,9999,9999,9999,9999.0,9999.0,9999,9999,9999,9999.0,Not qualified due to having diabetes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2056,37,1,1,1,0,40,1,2015-08-12 00:00:00,0,Mean plasma glucose missing,...,52,149,80,3.1,1.5,1,9,9999,9.9,NaN
2057,37,2,1,1,0,40,0,2015-08-19 00:00:00,0,Mean plasma glucose missing,...,63,69,84,2.6,1.3,9,1,9999,2.3,NaN
2058,37,2,1,1,0,36,1,2015-09-21 00:00:00,0,Mean plasma glucose missing,...,36,73,94,4.0,2.6,2,9,9999,8.8,NaN
2059,37,2,1,1,0,38,0,2015-09-12 00:00:00,0,Insulin time 1 missing due to hemolysis and me...,...,37,134,174,6.4,4.7,9,2,9999,6.2,NaN
2060,37,2,1,1,0,42,0,2015-08-21 00:00:00,0,Insulin time 4 and 5 missing due to hemolysis ...,...,50,119,97,3.4,1.9,9,1,9999,8.5,NaN
2061,37,0,0,0,9999,35,1,#NULL!,0,Dropped out,...,9999,9999,9999,9999.0,9999.0,9999,9999,9999,9999.0,Dropped out
2062,37,0,1,0,1,35,1,2015-09-25 00:00:00,0,Not qualified due to having diabetes,...,9999,9999,9999,9999.0,9999.0,9999,9999,9999,9999.0,Not qualified due to having diabetes
2063,37,1,1,1,0,26,0,2015-09-17 00:00:00,0,Mean plasma glucose missing,...,40,185,108,4.6,2.7,9,2,9999,5.4,NaN
2064,37,1,1,1,0,33,0,2015-09-11 00:00:00,0,Mean plasma glucose missing,...,9999,9999,9999,9999.0,9999.0,9999,9999,9999,9999.0,NaN
2065,37,0,1,0,1,33,1,2015-09-18 00:00:00,0,Insulin time 2 and 3 missing due to hemolysis;...,...,9999,9999,9999,9999.0,9999.0,9999,9999,9999,9999.0,Not qualified due to having diabetes
2066,37,2,1,1,0,50,1,2015-10-09 00:00:00,0,Insulin time 4 and 5 missing due to hemolysis ...,...,74,69,78,2.2,1.1,1,9,9999,8.6,NaN
2067,37,1,1,1,0,67,1,2015-10-21 00:00:00,0,Mean plasma glucose missing,...,59,104,155,4.0,2.6,2,9,9999,6.7,NaN
2068,37,0,0,0,9999,28,0,#NULL!,0,Not qualified missed two blood draws,...,9999,9999,9999,9999.0,9999.0,9999,9999,9999,9999.0,Not qualified due to missing 2 blood draw appo...
2069,37,1,1,1,0,44,0,2015-11-13 00:00:00,0,Mean plasma glucose missing,...,61,70,90,2.7,1.5,9,1,9999,2.2,NaN
2070,37,2,1,1,0,53,1,2015-11-20 00:00:00,0,Insulin time 4 missing due to hemolysis and me...,...,60,75,90,2.8,1.5,1,9,9999,17.6,NaN
2071,37,2,1,1,0,49,0,2015-12-02 00:00:00,0,Mean plasma glucose missing,...,39,207,118,5.1,3.0,9,2,9999,20.4,NaN
2072,37,1,1,1,0,52,0,2015-12-03 00:00:00,0,Insulin time 1 missing due to hemolysis and me...,...,53,76,94,3.1,1.8,9,1,9999,5.2,NaN
2073,37,0,1,0,1,65,0,2015-11-18 00:00:00,0,Insulin time 1 missing due to hemolysis and me...,...,9999,9999,9999,9999.0,9999.0,9999,9999,9999,9999.0,Not qualified due to having diabetes
2074,37,1,1,1,0,63,1,2015-12-04 00:00:00,0,Insulin time 2 missing due to hemolysis and me...,...,100,116,117,2.4,1.2,1,9,9999,3.5,NaN
2075,37,1,1,1,0,33,0,2015-12-04 00:00:00,0,Mean plasma glucose missing,...,39,185,164,6.2,4.2,9,2,9999,13.0,NaN
2076,37,1,1,1,0,37,1,2015-12-15 00:00:00,0,All Insulin missing due to hemolysis and Mean ...,...,9999,9999,9999,9999.0,9999.0,9999,9999,9999,9999.0,NaN
2077,37,0,1,0,1,49,1,2015-12-12 00:00:00,0,All Insulin missing due to hemolysis and Mean ...,...,9999,9999,9999,9999.0,9999.0,9999,9999,9999,9999.0,Not qualified due to having diabetes
2078,37,2,1,1,0,58,1,2015-12-11 00:00:00,0,Mean plasma glucose missing,...,53,191,106,3.7,2.0,1,9,9999,6.0,NaN
2079,37,0,1,0,1,45,1,2015-12-10 00:00:00,0,Insulin time 5 missing due to hemolysis;mean p...,...,9999,9999,9999,9999.0,9999.0,9999,9999,9999,9999.0,Not qualified due to having diabetes
2080,37,2,1,1,0,41,1,2015-12-17 00:00:00,0,Insulin time 2 and 3 missing due to hemolysis;...,...,46,129,106,3.9,2.3,1,9,9999,19.5,NaN
2081,37,2,1,1,0,30,0,2015-12-18 00:00:00,0,Mean plasma glucose missing,...,48,126,115,3.9,2.4,9,2,9999,10.3,NaN
2082,37,1,1,1,0,45,1,2015-12-29 00:00:00,0,Mean plasma glucose missing,...,35,250,125,6.0,3.6,2,9,9999,31.1,NaN
2083,37,2,1,1,0,52,0,2016-01-09 00:00:00,0,Mean plasma glucose missing,...,75,69,115,2.7,1.5,9,1,9999,5.0,NaN
2084,37,1,1,1,0,25,1,2016-01-09 00:00:00,0,Insulin time 5 missing due to hemolysis;mean p...,...,53,47,67,2.4,1.3,1,9,9999,7.5,NaN
2085,37,2,1,1,0,39,1,2016-01-15 00:00:00,0,Insulin time 3 missing due to hemolysis;mean p...,...,48,55,98,3.3,2.0,1,9,9999,3.0,NaN

In [11]:
step_count_activityselect=step_count_activity[['Steps']].copy()
step_count_bodyselect=step_count_body[['Date','Weight','BMI']].copy()
step_count=pd.concat([step_count_activityselect, step_count_bodyselect], axis=1, sort=False)
step_count

          Steps        Date  Weight    BMI
studyID
2001      1,592  2015-08-23  225.00  32.18
2001      6,059  2015-08-24  225.00  32.18
2001      3,243  2015-08-25  225.00  32.18
2001      7,319  2015-08-26  225.00  32.18
2001      9,289  2015-08-27  225.00  32.18
2001      5,031  2015-08-28  225.00  32.18
2001      9,355  2015-08-29  225.00  32.18
2001      9,400  2015-08-30  225.00  32.18
2001      5,215  2015-08-31  225.00  32.18
2001      4,071  2015-09-01  225.00  32.18
2001      5,273  2015-09-02  225.00  32.18
2001      3,474  2015-09-03  225.00  32.18
2001      7,115  2015-09-04  225.00  32.18
2001      5,794  2015-09-05  225.00  32.18
2001      6,060  2015-09-06  225.00  32.18
2001      2,070  2015-09-07  225.00  32.18
2001        810  2015-09-08  225.00  32.18
2001      3,978  2015-09-09  225.00  32.18
2001        521  2015-09-10  225.00  32.18
2001      6,583  2015-09-11  225.00  32.18
2001      2,388  2015-09-12  225.00  32.18
2001     13,174  2015-09-13  225.00  32.18
2001      3,553  2015-09-14  225.00  32.18
2001        750  2015-09-15  225.00  32.18
2001        820  2015-09-16  225.00  32.18
2001      3,026  2015-09-17  225.00  32.18
2001        308  2015-09-18  225.00  32.18
2001        480  2015-09-19  225.00  32.18
2001        904  2015-09-20  225.00  32.18
2001        758  2015-09-21  225.00  32.18
...         ...         ...     ...    ...
2085     10,869  2016-09-13  146.12  24.32
2085     15,886  2016-09-14  146.05  24.30
2085     15,359  2016-09-15  145.97  24.29
2085     13,363  2016-09-16  145.90  24.28
2085      9,529  2016-09-17  145.67  24.24
2085      6,076  2016-09-18  145.45  24.20
2085     14,469  2016-09-19  145.22  24.17
2085     17,499  2016-09-20  145.00  24.13
2085     11,882  2016-09-21  145.11  24.15
2085      5,558  2016-09-22  145.22  24.17
2085          0  2016-09-23  145.34  24.19
2085          0  2016-09-24  145.45  24.21
2085          0  2016-09-25  145.57  24.22
2085      5,690  2016-09-26  145.68  24.24
2085     16,593  2016-09-27  145.80  24.26
2085     12,428  2016-09-28  145.91  24.28
2085      9,845  2016-09-29  146.03  24.30
2085      8,591  2016-09-30  146.14  24.32
2085      7,381  2016-10-01  146.26  24.34
2085      9,036  2016-10-02  146.37  24.36
2085      8,973  2016-10-03  146.50  24.38
2085     16,287  2016-10-04  145.95  24.29
2085     11,974  2016-10-05  145.40  24.20
2085     15,280  2016-10-06  145.47  24.21
2085     13,504  2016-10-07  145.55  24.22
2085     11,517  2016-10-08  145.62  24.23
2085      4,082  2016-10-09  145.70  24.25
2085     13,197  2016-10-10  145.77  24.26
2085     10,768  2016-10-11  145.85  24.27
2085     16,361  2016-10-12  145.92  24.28

[21475 rows x 4 columns]

In [12]:
anthro=anthropometrics[['CorrectedDate','StudyGroup']].copy()
anthro

        CorrectedDate StudyGroup
studyID
2001       2014-11-17       Blue
2001       2015-03-03       Blue
2001       2015-06-02       Blue
2003       2014-11-22       Blue
2003       2015-03-30       Blue
2003       2015-07-22       Blue
2007       2015-01-07       Blue
2007              NaT       Blue
2007       2015-06-09       Blue
2008       2015-01-20       Blue
2008       2015-05-06       Blue
2008       2015-08-04       Blue
2009       2015-01-10       Blue
2009              NaT       Blue
2009              NaT       Blue
2014       2015-02-14       Blue
2014       2015-07-25       Blue
2014       2015-10-12       Blue
2017       2015-03-30       Blue
2017       2015-07-21       Blue
2017       2015-10-22       Blue
2020       2015-04-03       Blue
2020       2015-07-30       Blue
2020       2015-11-04       Blue
2021       2015-04-08       Blue
2021       2015-08-03       Blue
2021       2015-11-09       Blue
2024       2015-04-14       Blue
2024       2015-08-25       Blue
2024       2015-11-03       Blue
...               ...        ...
2059       2015-08-10        Red
2059       2016-01-28        Red
2059       2016-05-10        Red
2060       2015-08-11        Red
2060       2015-12-10        Red
2060       2016-03-02        Red
2066       2015-10-02        Red
2066       2016-02-08        Red
2066       2016-07-07        Red
2070       2015-11-04        Red
2070       2016-02-29        Red
2070       2016-06-24        Red
2071       2015-11-10        Red
2071       2016-03-23        Red
2071       2016-06-21        Red
2078       2015-12-01        Red
2078       2016-03-21        Red
2078       2016-06-23        Red
2080       2015-12-09        Red
2080       2016-04-07        Red
2080       2016-07-07        Red
2081       2015-12-10        Red
2081       2016-04-05        Red
2081       2016-07-05        Red
2083       2015-12-22        Red
2083       2016-04-26        Red
2083       2016-07-22        Red
2085       2016-01-08        Red
2085       2016-04-08        Red
2085       2016-07-29        Red

[201 rows x 2 columns]

In [13]:
Labs=labs[['StudyGroup','Age','Gender','Bglucose','BA1C','MO3Glucose','MO3A1C','MO6Glucose','MO6A1C']].copy()
Labs

,StudyGroup,Age,Gender,Bglucose,BA1C,MO3Glucose,MO3A1C,MO6Glucose,MO6A1C
studyID,,,,,,,,,
2001,1,28,0,101,5.6,83,5.6,94,5.7
2002,2,38,1,81,5.9,94,5.9,88,6.0
2003,1,26,1,82,6.3,76,6.4,123,6.7
2004,2,60,0,98,6.4,103,6.2,101,6.3
2005,2,34,0,100,5.9,87,6.0,9999,9999.0
2006,2,48,1,100,6.2,112,6.4,105,6.4
2007,1,27,1,84,5.9,9999,9999.0,9999,9999.0
2008,1,46,1,88,5.5,80,5.2,82,5.4
2009,1,38,1,72,5.7,9999,9999.0,9999,9999.0
2010,2,25,1,78,5.3,76,5.4,76,5.5
2011,0,26,1,83,5.2,9999,9999.0,9999,9999.0
2012,2,29,0,85,5.5,85,5.6,93,5.6
2013,2,68,1,90,5.9,87,5.9,82,5.7
2014,1,47,0,98,6.5,78,6.0,85,6.1
2015,0,42,1,9999,9999.0,9999,9999.0,9999,9999.0
2016,0,33,1,131,6.6,9999,9999.0,9999,9999.0
2017,1,43,0,100,5.9,89,5.9,92,5.7
2018,0,27,1,9999,9999.0,9999,9999.0,9999,9999.0
2019,0,49,0,9999,9999.0,9999,9999.0,9999,9999.0
2020,1,39,0,84,5.4,84,5.3,83,5.5
2021,1,61,1,98,5.8,93,5.8,96,6.0
2022,2,38,1,92,5.8,85,5.7,82,6.0
2023,2,26,1,79,5.3,78,5.3,79,5.1
2024,1,31,1,79,5.7,72,5.8,78,5.7
2025,2,41,0,85,6.1,94,6.1,95,5.6
2026,2,45,0,93,6.0,90,5.9,91,5.9
2027,2,27,1,84,5.4,87,5.5,93,5.4
2028,1,29,0,90,5.5,93,5.7,92,5.9
2029,1,65,0,100,5.6,98,5.7,90,5.6
2030,0,46,0,102,6.1,9999,9999.0,9999,9999.0
...,...,...,...,...,...,...,...,...,...
2056,1,40,1,84,5.9,82,5.6,90,5.9
2057,2,40,0,92,5.7,102,6.0,94,5.7
2058,2,36,1,92,5.5,97,5.0,93,5.5
2059,2,38,0,94,5.5,88,5.6,87,5.6
2060,2,42,0,96,5.8,95,6.0,98,5.7
2061,0,35,1,9999,9999.0,9999,9999.0,9999,9999.0
2062,0,35,1,88,5.4,9999,9999.0,9999,9999.0
2063,1,26,0,87,5.7,95,5.2,84,5.4
2064,1,33,0,91,5.5,9999,9999.0,9999,9999.0
2065,0,33,1,105,6.7,9999,9999.0,9999,9999.0
2066,2,50,1,90,6.1,92,5.9,88,5.6
2067,1,67,1,93,6.2,102,6.0,100,5.8
2068,0,28,0,9999,9999.0,9999,9999.0,9999,9999.0
2069,1,44,0,95,5.8,97,5.4,93,5.5
2070,2,53,1,102,6.0,106,6.2,104,6.0
2071,2,49,0,95,6.6,103,6.6,102,6.4
2072,1,52,0,111,6.1,102,5.9,111,5.9
2073,0,65,0,105,7.1,9999,9999.0,9999,9999.0
2074,1,63,1,104,6.5,84,5.9,103,6.0
2075,1,33,0,91,5.6,86,5.4,94,5.2
2076,1,37,1,88,5.8,9999,9999.0,9999,9999.0
2077,0,49,1,93,6.3,9999,9999.0,9999,9999.0
2078,2,58,1,97,6.1,82,6.2,95,6.1
2079,0,45,1,56,5.1,9999,9999.0,9999,9999.0
2080,2,41,1,85,5.8,89,5.6,92,5.7
2081,2,30,0,86,6.2,98,5.9,100,5.7
2082,1,45,1,107,6.0,102,6.3,102,6.0
2083,2,52,0,118,6.2,103,6.1,95,5.8
2084,1,25,1,79,5.7,91,5.5,90,5.4
2085,2,39,1,89,5.8,86,5.7,77,5.7

In [37]:
import numpy as np
Blue_labs = Labs[Labs.StudyGroup == 1]
Blue_labs = Blue_labs.replace(9999, np.nan)
Blue_labs.drop(['MO6Glucose','MO6A1C'], axis=1, inplace=True)

mapping = {1: 'Blue', 2: 'Red'}
Blue_labs.replace({'StudyGroup': mapping})

        StudyGroup  Age  Gender  Bglucose  BA1C  MO3Glucose  MO3A1C
studyID
2001          Blue   28       0       101   5.6        83.0     5.6
2003          Blue   26       1        82   6.3        76.0     6.4
2007          Blue   27       1        84   5.9         NaN     NaN
2008          Blue   46       1        88   5.5        80.0     5.2
2009          Blue   38       1        72   5.7         NaN     NaN
2014          Blue   47       0        98   6.5        78.0     6.0
2017          Blue   43       0       100   5.9        89.0     5.9
2020          Blue   39       0        84   5.4        84.0     5.3
2021          Blue   61       1        98   5.8        93.0     5.8
2024          Blue   31       1        79   5.7        72.0     5.8
2028          Blue   29       0        90   5.5        93.0     5.7
2029          Blue   65       0       100   5.6        98.0     5.7
2032          Blue   37       0        64   5.8        86.0     5.8
2033          Blue   47       0        77   5.6       102.0     5.8
2035          Blue   52       1       101   6.0       100.0     5.8
2037          Blue   54       0       102   6.3        98.0     6.4
2039          Blue   30       1        89   5.9        87.0     5.8
2044          Blue   54       1        90   5.9        96.0     6.1
2046          Blue   33       0        79   5.6        80.0     5.6
2050          Blue   35       1        80   5.5        75.0     5.6
2052          Blue   30       0        78   5.5         NaN     NaN
2055          Blue   45       0        90   5.6        90.0     5.7
2056          Blue   40       1        84   5.9        82.0     5.6
2063          Blue   26       0        87   5.7        95.0     5.2
2064          Blue   33       0        91   5.5         NaN     NaN
2067          Blue   67       1        93   6.2       102.0     6.0
2069          Blue   44       0        95   5.8        97.0     5.4
2072          Blue   52       0       111   6.1       102.0     5.9
2074          Blue   63       1       104   6.5        84.0     5.9
2075          Blue   33       0        91   5.6        86.0     5.4
2076          Blue   37       1        88   5.8         NaN     NaN
2082          Blue   45       1       107   6.0       102.0     6.3
2084          Blue   25       1        79   5.7        91.0     5.5

In [39]:

Red_labs = Labs[Labs.StudyGroup == 2]
Red_labs = Red_labs.replace(9999, np.nan)
Red_labs.drop(['Bglucose','BA1C'], axis=1, inplace=True)

#Red_labs = Blue_labs['StudyGroup'].replace(1, 'Red')

Red_labs.replace({'StudyGroup': mapping})

        StudyGroup  Age  Gender  MO3Glucose  MO3A1C  MO6Glucose  MO6A1C
studyID
2002           Red   38       1        94.0     5.9        88.0     6.0
2004           Red   60       0       103.0     6.2       101.0     6.3
2005           Red   34       0        87.0     6.0         NaN     NaN
2006           Red   48       1       112.0     6.4       105.0     6.4
2010           Red   25       1        76.0     5.4        76.0     5.5
2012           Red   29       0        85.0     5.6        93.0     5.6
2013           Red   68       1        87.0     5.9        82.0     5.7
2022           Red   38       1        85.0     5.7        82.0     6.0
2023           Red   26       1        78.0     5.3        79.0     5.1
2025           Red   41       0        94.0     6.1        95.0     5.6
2026           Red   45       0        90.0     5.9        91.0     5.9
2027           Red   27       1        87.0     5.5        93.0     5.4
2031           Red   55       1         NaN     NaN        93.0     5.9
2040           Red   35       1        94.0     5.9       101.0     5.9
2041           Red   78       1        93.0     6.2        80.0     6.1
2043           Red   44       1       101.0     6.0       100.0     6.0
2045           Red   41       0        99.0     6.1        94.0     6.0
2047           Red   39       0        98.0     6.4       109.0     6.4
2048           Red   43       1        89.0     5.9        82.0     5.4
2049           Red   30       1        89.0     6.1        84.0     5.9
2053           Red   30       0        90.0     5.7         NaN     NaN
2054           Red   29       1        81.0     5.7        71.0     5.5
2057           Red   40       0       102.0     6.0        94.0     5.7
2058           Red   36       1        97.0     5.0        93.0     5.5
2059           Red   38       0        88.0     5.6        87.0     5.6
2060           Red   42       0        95.0     6.0        98.0     5.7
2066           Red   50       1        92.0     5.9        88.0     5.6
2070           Red   53       1       106.0     6.2       104.0     6.0
2071           Red   49       0       103.0     6.6       102.0     6.4
2078           Red   58       1        82.0     6.2        95.0     6.1
2080           Red   41       1        89.0     5.6        92.0     5.7
2081           Red   30       0        98.0     5.9       100.0     5.7
2083           Red   52       0       103.0     6.1        95.0     5.8
2085           Red   39       1        86.0     5.7        77.0     5.7